h1 {
    background-color: rgb(174, 67, 236);
    margin: 0;
    text-align: center;
    font-size: 3em;
    color: rgb(252, 252, 252);
    padding: 10px;
    font-family: "'Baloo Bhai', cursive";
  }